.contact {
    width: 90%;
    margin-top: 150px;

    @media (min-width: 768px) {
        display: flex; 
        justify-content: space-between;
    }
}

form {
    margin: 40px 0 40px 0;

    @media (min-width: 768px) {
        width: 40%; 
        margin: 0 40px; 
    }
}

input {
    width: 100%;
    height: 40px; 
    border-bottom: 3px solid black;
    border-top: none; 
    border-left: none; 
    border-right: none;
    background-color: #E9E9E9; 
}

#tel {
    background-color: rgba(255, 0, 0, 0.3);
}

.select-container {
    position: relative;
    margin-top: 10px; 
}

.select-box {
    width: 100%;
    height: 44px;
    border: 2px solid black;
    border-radius: 5px; 
    appearance: none;
    padding-left: 20px;
    background-color: black;
    color: #E9E9E9;
}

.custom-arrow {
    position: absolute;
    top: 2px; 
    right: 2px;
    width: 38px; 
    height: 34px; 
    border-radius: 5px;
    background-color: black;
    pointer-events: none;
}

.select-box option:first-child {
    display: none;
}

.select-box option:nth-child(n) {
    background-color: #E9E9E9;
    color: black;
    padding: 20px;
}

.select-box option:nth-child(n):hover {
    background-color: gray;
}

#data {
    height: 20px;
    width: 20px; 
    border: 2px; 
    border-radius: 5px; 
    display: inline-block; 
}

#data-label {
    display: inline-block;
    position: absolute;
    bottom: 5px; 
    left: 30px; 
}

#checkbox {
    position: relative;
    margin-bottom: 20px;
    margin-top: 5px; 
}

input::placeholder {
    padding: 20px;
}

#tel::placeholder {
    color: #FF0000;
}

textarea {
    width: 100%;
    height: 200px; 
    background-color: #E9E9E9;
    border-bottom: 3px solid black;
    border-top: none; 
    border-left: none; 
    border-right: none;
}

textarea::placeholder {
    color: black;
    line-height: 180px;
    text-align: center;

}

.button-dark {
    color: white; 
    width: 50%;
    margin: 15px 25% 0 25%;
}

.button-dark:hover {
    background-color: #737373;
    border: #737373; 
  }
  
  .button-dark:focus {
    background-color: #737373;
    border: #737373;
  }

