.footer {
    width: 100%;
    height: auto; 
    background-color: #1A1A1A; /*color1*/
    color: #fff;
    padding-bottom: 30px; 
}

.logo-box {
    padding: 40px 20px 20px 20px;
}

.logo-box svg {
    width: 35px; 
    height: 35px;
}

.footer-heading {
    padding-left: 20px;
}

.footer-flex-container {
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 40px;
}

.visit {
    display: flex; 
}

.visit span {
    font-size: 14px;
}

.subs {
    display: flex;
}

.flex-item {
    width: 185px;
    padding: 20px;
}

.flex-item a {
    color: #fff; 
    text-decoration: none;
    font-size: 14px;
}

.flex-item a:hover {
    font-weight: 900; 
}

.flex-item a:focus {
    font-weight: 900; 
}

.flex-item a:active {
    text-decoration: underline; 
}


@media(min-width: 768px) {

    .footer {
        padding: 40px; 
    }

    .footer-flex-container {
        width: 80%;
        padding-top: 0;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .desktop_container {
        display: flex; 
        align-items: flex-start;
        justify-content: space-between;
    }


    .logo-box svg {
        width: 70px; 
        height: 70px;
    }

    .flex-item {
        margin: 0 10%;
        padding-top: 10px;
    }

    .visit {
        flex-direction: column;
    }

    .subs {
        flex-direction: row-reverse;
    }
  }
