.section5 {
    width: 100%; 
    height: 50vh;
}

.section5 h2 {
    margin: 24px;
}

.section5 iframe {
    width: 100%; 
    height: 42vh; 
} 

@media(min-width: 767px) {
    #map {
        margin-left: 40px;
    }
    
}

