.cafe {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../../images/FEND-Coffee-beans-hand-2.jpg);
    background-size: cover;
    background-position: center; 
    z-index: 5; 
}

.section_o1 {
    display: flex;
    justify-content: center;
    margin: 15% 5%;
}

.o1_text {
    width: 100%;
}
   
.o1_text h2 {
    margin-bottom: 25px;
}

@media(min-width: 767px) {

    .section_o1 {
        margin: 5%;
    }
    
    .o1_text {
        width: 50%;
    }
}

.o3_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% 5%; 
}

.o3_item {
    width: 100%;
}

.section_o2 {
    display: flex;
    justify-content: center;
    margin: 5% 5%;
}

.section_o2 video {
    width: 320px; 
    height: 240px;
}