 <header class="hero">

      <div class="hero-content">
        <div class="hero-text">
          <h1>Rustica</h1>
          <p>Bio und Fair seit 1991</p>
        </div>
    
        <button class="button-dark"><a href="/sub-page/">Zum Shop</a></button>

      </div>
    </header>