* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  @media (min-width: 768px) {
    color: #000;
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: #000000;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
}