:root {
  /* Colors */
  /*anthrazit: #1A1A1A rgba(26,26,26,1)
    white: #FFFFFF rgba(255,255,255,1)
    kraftpapier: #D7BE9D rgba(215,190,157,1)
    petrol: #006D7E rgba(0,109,126,1)
    rosa: #EDD1C9 rgba(237,209,201,1)
    orange: #D77C12 rgba(215,124,18,1)
    medium grey: #737373 rgba(115,115,115,1)
    light grey: #E9E9E9 rgba(233,233,233,1) */

  --div-color: #000;
  --h1-color: #000;
  --h2-color: #000;
  --h3-color: #000;
  --p-color: #000;

  /* Text Styles */
  
  --h1-size: 64px;
  --h1-weight: 900;
  --h1-line-height: 1.1;
  
  --h2-size: 36px; 
  --h2-weight: 900;
  --h2-line-height: 1.1;
  
  --h3-size: 32px;
  --h3-weight: 900;
  --h3-line-height: 1.1;
  
  --p-size: 14px;
  --p-weight: 400; 
  --p-line-height: 1.3;

  --h1-d-size: 96px;
  --h2-d-size: 48px;
  --h3-d-size: 42px;
  --p-d-size: 18px;
  
}
   


    
 



/*$color1: #1A1A1A; // black ----Wie zum T. nutzt man dass????*/